# Dependencies
node_modules

# Astro / Starlight
dist
.astro

# Python
__pycache__/
*.pyc
.pytest_cache/

# Logs
*.log
npm-debug.log*

# OS / editor
.DS_Store
.idea
.vscode
*.tsbuildinfo

# Env
.env*
